<div *ngIf="(auth.user$ | async) as usr">
  <div class="title" style="margin-bottom:75px;font-size:36px;">{{'Host Platform for ' + usr.displayName}}</div>

  <ng-container *ngIf="events.length > 0">
    <div class="title" style="margin-bottom:20px">Events</div>
    <div class="eventgroup">
      <ng-container *ngFor="let event of events">
        <div class="event" (click)="goto(event)">
          <div class="eventname">{{event}}</div>
        </div>
      </ng-container>
      <div class="event" (click)="creat();$event.stopPropagation()">
        <div class="eventname">+</div>
      </div>
    </div>
  </ng-container>
  
  <button class="btn" style="display:block;margin:75px auto 0 auto;" type="button" (click)="home();$event.stopPropagation()">home</button>
</div>

