<div class="title" *ngIf="creator">{{'Event '+code+' by '+creator.name}}</div><br><br>
<div class="btngroup">
  <button class="btn" style="margin-right:25px" type="button" (click)="leav()">leave event</button>
</div>
<br><br><br>

<div class="btngroup">
  <input class="field" type="text" placeholder="a song name" [(ngModel)]="searchh">
  <button class="btn" type="button" (click)="searc(searchh)">search</button>
</div>

<div class="help">Search for a song, then click or tap to add to queue</div>
<br>
<div class="suggestgroup">
  <ng-container *ngFor="let sug of suggests; index as i">
    <div class="suggest" [title]="sug.name+'\n'+sug.artist" (click)="addd(i)">
      <img class="sugart" [src]="sug.art">
      <div class="suginfocontainer">
        <div class="sugname">{{sug.name}}</div>
        <div class="sugartist">{{sug.artist}}</div>
      </div>
    </div>
  </ng-container>
</div>

<div class="queue">Now Playing</div>
  <div class="songgroup" *ngIf="(nowPlaying$ | async) as np">
    <img style="margin-left:44px" class="art" [src]="np.art">
    <div class="infocontainer" [title]="np.name+'\n'+np.artist">
      <div class="name">{{np.name}}</div>
      <div class="artist">{{np.artist}}</div>
    </div>
  </div>

<div class="queue">Queue</div>
<div class="songgroup" *ngFor="let song of (songs$ | async)">
  <div class="votecontainer">
    <ng-container *ngIf="(auth.user$ | async) as usr">
      <button class="upvote" *ngIf="!song.votes.includes(usr.email)" type="button" (click)="upvot(song.fireid)">▲</button>
    </ng-container>
    <div class="votes">{{song.numvotes}}</div>
  </div>
  <img class="art" [src]="song.art ? song.art : '../favicon.ico'">
  <div class="infocontainer" [title]="song.name+'\n'+song.artist">
    <div class="name">{{song.name}}</div>
    <div class="artist">{{song.artist}}</div>
  </div>
</div>
<br><br>